<app-header (open)="showOffcanvas = !showOffcanvas"></app-header>
<main>
  <app-offcanvas *ngIf="showOffcanvas" [genreId]="genreId" [monetization]="monetization"
                 [sortBy]="sortBy" [page]="page"></app-offcanvas>
  <div *ngFor="let movie of movies?.results">
    <img class="img-lg" src="https://image.tmdb.org/t/p/w342{{movie.poster_path}}" alt="{{movie.title}}">
    <img class="img-md" src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" alt="{{movie.title}}">
    <img class="img-sm" src="https://image.tmdb.org/t/p/w154{{movie.poster_path}}" alt="{{movie.title}}">
    <img class="img-xs" src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}" alt="{{movie.title}}">
    <h3 style="text-align: center">{{movie.title}}</h3>
  </div>
</main>
