header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
button {
  grid-column-start: 1;
  grid-column-end: 2;
}
h1 {
  grid-column-start: 2;
  grid-column-end: 3;
}
a {
  grid-column-start: 3;
  grid-column-end: 3;
}
